.DeleteCustomer {
    height: 100%;
    /* background-color: #; */
    font-weight: 600;
    font-size: large;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.DeleteCustomer .wrapper {
    margin-top: 50px;
    background-color: #4197dd;
    padding: 10px;

}

.DeleteCustomer button {
    width: 150px;
    height: 30px;

}

.DeleteCustomer .cancel {
    background-color: #8fa1af;
}

.DeleteCustomer .yes {
    background-color: #be2121;
}

.DeleteCustomer .gap {
    gap: 10px;
}