.SocialMedia {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: green; */
    margin: 10px;
    padding: 10px;
}

.custom-image{
    padding: 5px;
}

.social-icon{
color: black;
}

