.App {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
  background-color: rgb(184, 197, 197);
}



.App>.Header {
  background-color: #C58940;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: #000000;
  grid-column: 12 span;
  grid-row: 2 span;


}
.App>.Menu {
  background-color: #E5BA73;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-style:italic;
  font-weight: bold;
  color: #000000;
  grid-column: 12 span;
  grid-row: 2 span;
}
.App>.Main {
  background-color: #f5e4a9;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: #000000;
  grid-column: 12 span;
  grid-row: 8 span;
  overflow-y: auto;
}



.App>.Footer {
  background-color: #C58940;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: #000000;
  grid-column: 12 span;
  grid-row: 2 span;
}

.fade-up{
  background-image: linear-gradient(#f5e4a9, #C58940);
}

.fade-down{
  background-image: linear-gradient( #C58940, #f5e4a9);
}
.fade{
  height: 100%;
  width: 100%;
  -webkit-box-shadow: inset 0 1 10px 20px #f5e4a9;
  box-shadow: inset 5px 5px 20px 20px #f5e4a9;
}