:root {
  --blue: #1e90ff;
  font-size: 16px;
  --bg-head: #bebfc2;
  --bg-main: #bebfc2;
  --bg-menu: #bebfc2;
  --bg-footer: #bebfc2;
  --bg: #bebfc2;
  --color-primary: #282c34;
  --color-secondary: #282c34;
  --color-accent: #4cd969;
}

[data-theme='light'] {
  --bg: #131A22;
  --color-primary: #000000;
  --color-secondary: #cbb08e;
  --bg-head: #131A22;
  --bg-main:  #7B8FA1;
  --bg-menu: #577187;
  --bg-footer: #131A22;
}

[data-theme='dark'] {
  --bg: #cbb08e;
  --color-primary: #282c34;
  --color-secondary: #7B8FA1;
  --bg-head: #cbb08e;
  --bg-main:  #afa47b;
  --bg-menu: #e9d4b0;
  --bg-footer: #caa880;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body, #root {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: var(--color-blue-dark);
  color: var(--color-white);
}




.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-row {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}




.flex-center-col {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.shrink-center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 30%;
}

.flex-col-top-center {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.single-line-only {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inherit;
  height: 30px;
}

.flex-row-none-wrap-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button {
  height: 30px;
  width: 100px;
  transition-duration: 0.4s;
  background-color: #60625f;
  color: white;
}

.button:hover {
  background-color: white;
  color: #60625f;
}


.button-success {
  height: 30px;
  width: 100px;
  transition-duration: 0.4s;
  background-color: #60625f;
  color: white;
  cursor: none;
}

.button-success:hover {
  background-color: white;
  color: #6db33f;
}

.button-success:disabled {
  height: 30px;
  width: 100px;
  transition-duration: 0.4s;
  background-color: #60625f;
  color: white;
  cursor: not-allowed;
}

.button-danger {
  height: 30px;
  width: 100px;
  transition-duration: 0.4s;
  background-color: #b33f47;
  color: white;
}

.button-danger:hover {
  background-color: white;
  /* Green */
  color: #b33f47;
}



.box {
  border: 1px solid;
  padding: 10px;
  box-shadow: 10px 10px 2px 2px #888888;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.one-line {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

form {
  text-align: start;
  justify-content: center;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}


form span {
  font-weight: 700;
  color: red;
}

form .button-app {
  text-align: center;
}

.card {
  display: inline-flex;
  flex-direction: column;
  max-width: 450px;
  margin: 10px;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  text-align: center;
  width: 300px;
}

input[type=text], input[type=date], input[type=datetime-local], input[type=number], input[type=email], input[type=password] {
  width: 100%;
  padding: 6px 10px;
  margin: 4px 0;
  box-sizing: border-box;
  border: none;
}



input[type=number]:disabled {
  font-weight: 700;
  background-color: #88888880;
}



label {
  margin-left: 2px;
  font-weight: 500;
  display: inline-block;
  display: inline-block;
  text-align: start;
  color: black;
  
}

.head {
  display: flex;
  text-align: center;
  justify-content: center;
}

.flex-head {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.selectArea {
  display: flex;
  text-align: center;
  justify-content: center;

}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mid {
  font-size: large;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 10px;

}

.low {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;

}




.button1{
justify-content: center;
font-family: Roboto, sans-serif;
font-weight: 0;
font-size: 14px;
color: #fff;
background-color: #bdbdbd;
padding: 10px 30px;
border: solid #bababa 2px;
box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
border-radius: 23px;
transition : 1000ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;

}

.button1:disabled{
  cursor: not-allowed;
  }

.button1:hover{
transition : 1000ms;
padding: 10px 50px;
transform : translateY(-0px);
background-color: #fff;
color: #c7c7c7;
border: solid 2px #c7c7c7;
}


.selectOption{
  width: 200px;
  height: 20px;
  margin-top: 10px;
  border-radius: 12%;
}

.select-client-type{
  width: 200px;
  margin-top: 10px;
}

.price-input{
  width: 140px;
  margin-top: 10px;
  border-radius: 12%;
}

.marge-top{
  margin-top: 10px;
}

